.body {
    font-family: 'Montserrat', sans-serif;
    margin-right: 2%;
    background-color: #FFF1BD;
    color: #eeab59;
}
h1{
    text-align: center;
}
.welcome {
    font-weight:900;
    line-height: 2;
    font-size: 2.5rem;
}
.IOT{
    font-weight: bolder;
    line-height: 2;
    font-size: 2.5rem;
}

.row{
    text-align: center;
}
.button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #d15151;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button:active {
    background-color: #e2810a;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  .pressed {

    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #3e8e41;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}